@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: black;
}

.parent {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  border: 1px solid white;
}

header {
  padding: 2rem;
  grid-column: 1 / 4;
  border: 1px solid white;
  
}

.left-side {
  padding: 2rem;
  grid-column: 1 / 2;
  border: 1px solid white;
}

main {
  padding: 2rem;
  grid-column: 2 / 3;
  border: 1px solid white;
}

.right-side {
  padding: 2rem;
  grid-column: 3 / 4;
  border: 1px solid white;
}

footer {
  padding: 2rem;
  grid-column: 1 / 4;
  border: 1px solid white;
}
